@tailwind base;
@tailwind components;
@tailwind utilities;

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}

.work-sans-bold {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}

.work-sans-semi-bold {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}

.work-sans-light {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}
